/*
Styles for the Frontmatter Inject plugin
*/

.frontmatter-inject-docs {
	padding: 10px 0;
	margin-bottom: 20px;
}

.frontmatter-inject-docs a {
	color: var(--link-color);
	text-decoration: none;
}

.frontmatter-inject-docs a:hover {
	text-decoration: underline;
}
